
.home-container {
    height: 800px;
    width: 1308px;
    background-image: url("../assets/background_home.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%; 
   position: relative;
    text-align: left;
    margin-top: -80px;
  }
  
  .home-container h1 {
    position: relative;
    margin-top: 14rem;
    margin-left: 3rem;
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  
  .home-container .description {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
  
  .home-container .info {
    display: flex;
    flex-direction: row;
    gap: 1rem; 
    margin-left: 3rem;
  }
  
  .home-container .info p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff6347;
  }
  