.secound{
    display: flex;
    flex-direction: column;
    color: #FF0000;
    width: 100%;
    gap: 50px;
    margin: 100px;
}

.boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   


}
.boxitem{
    border: 1px black solid;
    margin: 20px;
    padding: 30px;
}


.boxitem p{
    color: #FF0000;
}
.headitem{
    color: black;
    font-weight: bold;
}


.first{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.right{
   background-image: url('../assets/Group1.png');
   background-repeat: no-repeat;
   background-position: 250px 0px ;
   backface-visibility: 50%;
   background-size: 35%;
}
.right h2{
    color: #FF0000;
    text-align: left;
    margin-top: 60px;
}
.right button{
    background-color: #FF0000;
    color: white;
    margin-top: 100px;
    left: 0px;
}