.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two main columns, adjust as needed */
    gap: 20px; /* Gap between grid items */
  }
  .left{
    height: 70%;
     padding:30px;
  }
  p{
    color: black;
  }
  /* Left section styles */
  .left-section {
    display: grid;
  
    grid-template-columns: repeat(12,1fr);
    position: relative;
    padding: 20px;
    width: 50%;
  }
  .top{
    grid-column: 4/span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 1;
  }
  
  .bottom{
    grid-column: 1/-5;
    grid-row: 1;
  }
  .bottom img{
    width: 300px;
    height: 300px;
  }
  
  /* Right section styles */
  .right-section {
    display: grid;
    grid-template-rows: 10% 20% 1fr 1fr 25%; /* Three rows: 20%, 1fr, 1fr */
  }
  
  /* Individual grid item styles */
  .grid-item {
    padding: 0px;
  }
  
  /* Specific grid items placement */
  .grid-item:nth-child(2) {
    grid-row: 2 / span 1; /* First grid item spans the first row */
    grid-column: 1/span 2;
  }
  .grid-item:nth-child(3),
  .grid-item:nth-child(4) {
    grid-row: 3 / span 1; /* Second and third grid items span the second row */
  }
  .grid-item:nth-child(5),
  .grid-item:nth-child(6) {
    grid-row: 4 / span 1; /* Fourth and fifth grid items span the third row */
  }
  